@import "../components/legend";
@import "../components/messageBtn";
@import "../components/UrgentReportBtn";
@import "../components/elDialog";
@import "../components/pageNation";
#app > .el-container {
	overflow:hidden;
}
.el-popover{
	padding-top:0;
	padding-right:0;
	padding-left:0;
	background-color:#f1f1f1;
	border:1px solid #bebfc0;
	.el-tabs {
		height:450px;
		overflow-y:auto;
	}
	.popper__arrow::after{
		border-top-color:#f1f1f1 !important;
	}
	.el-tabs__content{
		padding:0 4px;
		.el-row{
			height:40px;
			line-height:40px;
			margin-bottom:10px;
			background-color:#fff;
			border-radius: 4px;
			.flightNo{
				background-color:#393f43;
				color:#fff;
				padding:0 4px;
				border-radius:2px;
			}
		}
	}
	.el-tabs__item{
		color:#666;
		background-color:#fff;
	}
	.el-tabs__item.is-active{
		background-color:#009eff;
		color:#fff;
	}
	.el-tabs__item:first-child {
		border-top-left-radius:4px;
	}
	.el-tabs__item:last-child {
		border-top-right-radius:4px;
	}
}
.home {
	clear:both;
	position:relative;
	.dialogPersonSetting{
		.el-tabs__header, .el-tabs__nav{
			border-bottom:1px dashed #289DFF;
		}
		.el-tabs__nav{
			border-top:none;
		}
		.el-tab-pane{
			.personDetail{
				height:45px;
				line-height:45px;
				border-bottom:1px dashed #979797;
				margin-bottom:10px;
				overflow:hidden;
				.flightNo{
					background-color:#393f43;
					color:#fff;
					padding:0 4px;
					border-radius:2px;
				}
				.step{
					text-align:center;
					width:120px;
					position:relative;
					&>p{
						padding:0;
						margin:2px;
						line-height:20px;
					}
					&.arrow::after{
						content:"\e6bb";
						position:absolute;
						right:-50%;
						top:-6px;
						font-family: "iconfont" !important;
						font-size: 40px;
						font-style: normal;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;	
					}
				}
			}
			.row{
				margin-bottom:10px;
				.el-checkbox__inner{
					border-color:#409eff;
				}
				.title{
					font-size:14px;
					color:#000;
					font-weight:bold;
					margin-right:10px;
				}
			}
		}
		.el-tabs__item{
			font-size:14px;
			width:80px;
			height:30px;
			line-height:30px;
			background-color:#e6e6e6;
			text-align:center;
			color:#333;
			padding:0 !important;
			border-radius: 4px 4px 0 0 !important;
		}
		.is-active{
			background-color:#009eff;
			border-bottom:none;
			color:#fff;
		}
	}
	.bg-person{
		background:#182738;
		border:1px solid #0068a9;
		padding-left:15px !important;
		padding-right:25px !important;
		display:inline-block !important;
		&.active{
			background-color:#0062ff;
			color:#fff !important;
			.taskNum{
				background-color:#fff;
				color:#0062ff;	
			}
		}
	}
	.dialogAddTask .personList .person-panel {
		width:auto;
		.bg-person{
			background:#d7e9ff;
			color:#505960;
			border:1px solid #8dbfff;
			padding-left:15px !important;
			padding-right:25px !important;
			display:inline-block !important;
			.taskNum{
				background-color:#005fff;
				color:#fff;	
			}
			&.active-person{
				background-color:#005fff;
				color:#fff !important;
				.taskNum{
					background-color:#fff;
					color:#005fff;	
				}
			}
		}

	}
	.active-person {
		background: #2e67f6;
		color: #fff !important;
	}
	.personList{
		padding:6px 10px;
		overflow:hidden;
		.person-panel{
			padding:2px 6px !important;
			display:flex;
			justify-content:space-between;
			&.online{
				color:white;
				.person{
					color:white;
					border-color:#0068a9;
					.taskNum{
						background-color:#0062ff;
						color:white;
					}
				}
			}
			.person{
				color:#5d6874;
				border-color:#5d6874;
				.taskNum{
					background-color:#5d6874;
					color:white;
				}
				&.active .taskNum{
					background-color:#fff;
					color:#0062ff;	
				}
			}
			color:#5d6874;
		}
	}
	.person{
		color:#fff;
		height:30px;
		line-height:30px;
		cursor:pointer;
		padding:0 2px;
		text-align:left;
		position:relative;
		border-radius:4px;
		font-size:14px;
		.taskNum{
			position:absolute;
			top:5px;
			right:3px;
			height:20px;
			line-height:20px;
			font-size:14px;
			font-weight:bold;
			width:auto;
			padding:0 2px;
			background-color:#0062ff;
			color:#fff;
			border-radius:4px;
		}
	}
	.el-aside {
		background-color: #182738;
		color: #333;
		text-align: center;
		overflow:visible;
		position:relative;
		padding-bottom:4px;
		.panel{
			overflow-y:auto;
			height:100%;
			.placeHolder{
				position:relative;
				height:42px;
				width:100%;
			}
		}
		.el-input{
			width:95%;
		}
		.persons-panel{
			.area-panel{
				background-color: #1f3144;
				color:#fff;
				font-size:16px;
				font-weight:bold;
				text-align:left;
				padding:10px 0;
			}
		}
		.el-autocomplete {
			width: 100%;
			padding:6px 10px;
		}
		.toggleBtn {
			position:absolute;
			top:45%;
			right:-20px;
			width:15px;
			height:120px;
			line-height:100px;
			background: #666;
			color:#fff;
			font-size:18px;
			border-top: 8px solid #f1f1f1;
			border-left: 15px solid #1b65ff;
			border-bottom: 8px solid #f1f1f1;
			border-top-right-radius:20px;
			border-bottom-right-radius:20px;
			i{
				position:absolute;
				left:-15px;
				color:white;
				font-size:14px;
			}
		}
	}
	.el-main {
		color: #333;
		text-align: center;
	}
	.el-container{
		background-color: #f1f1f1;
		.home-mian-header{
			height:60px;
			line-height:60px;
			.tabCard{
				.el-radio-button__orig-radio:checked+.el-radio-button__inner{
					background-color:#393f43;
					border-color:#393f43;
				}
			}
			.el-button--mini{
				padding:7px;
				&.el-button--success{
					i{
						margin-right:2px;
						font-size:14px;
					}
				}
			}
			.header-right{
				text-align:right;
				overflow:hidden;
				.el-button+.el-button{
					margin-left:8px;
				}
			}
			.el-button{
				&.el-button--mini{
					height:28px;
					line-height:0;
				}
			}
			.el-row{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				.el-input{
					width:auto;
				}
				.el-radio-group, .el-input{
					margin-right:8px;
					.el-radio-button--mini .el-radio-button__inner{
						padding:7px;
					}
				}
			}
			.is-table {
				float: left;
			}
			.legend-panel{
				border-radius:4px;
				text-align: right;
				margin-top:0;
				margin-left:0 !important;
				justify-content: flex-start;
				background-color: #fff;	
				height:30px;
				.el-col{
					height:30px;
					line-height:30px;
				}
			}
			.icon-search {
				&:before {
					content: "\e663"
				}
			}
		}
		.el-main{
			display: flex;
			flex-direction:column;
			padding-top:0;
			.flight-table {
				thead>.cell {
					background-color: #666;
					height: 30px;
					line-height: 30px;
					color: #fff;
				}
				.is-leaf {
					background: #666;
					color: #fff;
					height: 28px;
					line-height: 28px;
					padding: 2px 0;
					text-align: center;
				} 
				tr {
					height: 28px;
					line-height: 28px;
					padding: 2px;
					text-align: center;
					border: 1px solid transparent;
				}
				.el-tag--vl-people {
					width:48px;
					// height:20px;
					color: #fff;
					background-color:#ff8500; 
				}
				.el-tag--vl-car {
					width:48px;
					// height:20px;
					color: #fff;
					background-color:#0096ff; 
				}
				.el-tag--vl-company {
					width:48px;
					// height:20px;
					color: #fff;
					background-color:#a346bc; 
				}
				.el-tag--vl-tool {
					width:48px;
					// height:20px;
					color: #fff;
					background-color:#677f95; 
				}
				.el-table--striped .el-table__body tr.el-table__row--striped td {
					background: #f0f2f4;
				}
				.el-table--enable-row-hover .el-table__body tr>td {
					padding: 6px 0;
					border-top: 1px solid transparent;
					border-bottom: 1px solid transparent;
					text-align: center;
				}
				.el-table--enable-row-hover .el-table__body tr:hover>td {
					background-color: #e3f3fc !important;
					border-top: 1px solid #0096ff;
					border-bottom: 1px solid #0096ff;
				}
				.el-table .cell {
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
			.mainList{
				flex:1;
				padding:6px;
				.dialogTaskDetail{
					.taskInfo{
						margin-bottom:20px;
					}
					.taskPersonList{
						.taskDetailList{
							text-align:left;
							span{
								font-weight:bold;
							}
						}
						.el-col{
							text-align:left;
							.taskPersonBtn{
								font-size:12px;
								margin-left:10px;
								margin-right:0;
								margin-bottom:10px;
								background: #DBE9FE;
								border: 1px solid #7FB1FF;
								border-radius: 3px;
								padding:6px 12px;
								color:#1F407B;
								i{
									color:#009eff;
								}
								&.active,&:hover{
									background-color:#0064FF;
									color:#fff;
								}
							}
						}
					}
				}
				> .el-row{
					display: flex;
					margin-bottom:20px;
					.region{
						margin-top:10px;
						.el-card{
							height:100%;
							background-color:#182738;
							border:1px solid #bbbbbb;
							.el-card__body{
								display: flex;
								flex-direction: column;
								align-items: center;
								height: 100%;
								justify-content: center;
							}
							.areaName{
								font-size:18px;
								font-weight:bold;
								color:#fff;
							}
							.workerName{
								font-size:16px;
								font-weight:bold;
								color:#00a93c;
							}
						}
					}
					.task{
						.poper{
							position:absolute;
							right:10px;
							bottom:10px;
							width:100px;
							height:100px;
							line-height:100px;
							color:rgba(213,95,95,1);
							background-color:#feedefc9;
							border-radius: 50px;
							transform: rotateZ(-30deg);
							border:1px solid #e58285;

						}
						.el-card.greyPanel{
							i,p,div {
								color:#bfbfbf !important;
							}
							.el-main,.flight-status{
								background-color:#bfbfbf !important;
								color:white !important;
							}
							.b-black,.aft{
								background-color: #bfbfbf !important;
							}
							.first-row,.second-row,{
								color:#bfbfbf !important;
							}
						}
						.el-col {
							margin-top:10px;
							.el-card {
								//border:1px dashed #c7c7c7;
								cursor:pointer;
								.el-card__body{
									padding:0;
									position:relative;
									.flight-status{
										position:absolute;
										right:0;
										top:0;
										width:60px;
										height:20px;
										line-height:20px;
										background-color:#31b4f1;
										color:#fff;
										font-size:12px;
										text-align:center;
										transform: rotateZ(45deg);
										top: 5px;
										right: -15px;
										&.bg-1{
											background-color:#b239d8;		
										}
										&.bg-2{
											background-color:#009eff;		
										}
										&.bg-3{
											background-color:#f6b500;		
										}
										&.bg-4{
											background-color:#004ab8;		
										}
										&.bg-5{
											background-color:#b239d8;		
										}
										&.bg-6{
											background-color:#b239d8;		
										}
										&.bg-7{
											background-color:#b239d8;		
										}
									}
								}
								.el-aside{
									background-color:white;
									padding-left:10px;
									padding-right:10px;
									text-align: left;
									font-size:14px;
									color:#9a9a9a;
									font-weight:bold;
									.first-row{
										color:black;
										height:30px;
									}
									.t-white{
										color: #fff;
										padding: 0 .25rem;
										border-radius: .125rem;
									}
									.b-black{
										background-color: #393f43;
									}
									.b-B{
										background-color:#FF5CB0;
									}
									.b-C{
										background-color: #2476E6;
									}
									.b-D{
										background-color: #7540EE;
									}
									.b-E{
										background-color: #0B9337;
									}
									.b-F{
										background-color: #E26A00;
									}
									.legend{
										padding:0;
										height:20px;
										line-height:20px;
									}
									.second-row{
										//.flightNo{
											//color:white;
											//font-size:16px;
											//background-color:#6178f1;
										//}
										//.aircraftNumber{
											//color:#636363;
										//}
										border-top:1px dashed #BDBFC3;
										border-bottom:1px dashed #BDBFC3;
										height:64px;
										margin-top:10px;
										overflow:hidden;
										.el-col{
											margin-top:0;
										}
										p{
											padding:0;
											margin:0;
											line-height:32px;
										}
										color:black;
										text-align:center;
										.route-panel{
											display:flex;
											justify-content:space-around;
											&>div{
												position:relative;
												width:100%;
												display:inline-block;
												height:64px;
												vertical-align:middle;
												line-height:64px;
												p{
													line-height:32px;
													text-overflow: ellipsis;
													width: 100%;
													overflow: hidden;
													white-space: nowrap;
													position: absolute;
													left: 0;
													text-align: center;
													&:first-child{
														font-size:16px;
														font-weight:bold;
														color:black;
													}
													&:last-child{
														font-size:12px;
														color:#666C72;
														top:32px;
													}
												}
												i{
													font-size:30px;
												}
											}	
										}
									}
									.et{
										color:#4b506e;
									}
								}
								.el-main{
									overflow: hidden;
									padding: 0;
									align-items: center;
									&.bg-1{
										background-color:white;
									}
									&.bg-2{
										background-color:#ffac00;
									}
									&.bg-3{
										background-color:#00a0ff;
									}
									&.bg-4{
										background-color:#00d859;
									}
									&.bg-5{
										background-color:#aa67f3;
									}
									&.bg-6{
										background-color:#0065ff;
									}
									&.bg-8,&.bg--1{
										background-color:#bfbfbf;
									}
									div{
										width:10px;
										height:100%;
										word-break:break-word;
										color:white;
										display: flex;
										align-items:center;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.taskhandover {
		width:467px;
		height:270px;
		background: #f7fcff;
		border: 1px solid #0064FF;
		margin: auto;
		overflow-y: scroll;
		padding: 10px;
		div {
			margin: auto;
			text-align: center;
		}
		span {
			display: inline-block;
			height: 20px;
			line-height: 20px;
			min-width: 42px;
			text-align: center;
			margin:5px 0;
		}
		.flight-no {
			background: #393f44;
			color: #fff;
			font-size: 16px;
			padding: 0 5px;
			line-height: 20px;
			border-radius: 4px;
		}
		.flight-id {
			color: #0064FF;
			font-size: 16px;
		}
		.time {
			color: #666;
			font-size: 14px;
		}
		.staff-name {
			color: #0064FF;
		}
	}	
	.dialogAlert{
		.el-dialog__body{
			max-height:600px;
			overflow-y:auto;
		}
	}
	.dialogAddTask {
		.add-task-table {
			margin-top: 10px;
			.el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.current-row>td, .el-table__body tr.hover-row.current-row>td, .el-table__body tr.hover-row.el-table__row--striped.current-row>td, .el-table__body tr.hover-row.el-table__row--striped>td, .el-table__body tr.hover-row>td {
				background-color: #d9e8ff;
			}
			.is-leaf {
				margin-top: 10px;
				background: #666;
				color: #fff;
				height: 1.75rem;
				line-height: 1.75rem;
				padding: .125rem 0;
				text-align: center;
			}
			.el-table__row>td {
				text-align: center;
			}
			.td {
				text-align: center;
			}
		}
		.el-pagination__sizes {
			display: none;
		}
		.demonstration {
			display: none;
		}
	}
}


