@import "../components/legend";
@import "../components/messageBtn";
@import "../components/UrgentReportBtn";
@import "../components/elDialog";
body > .el-container {
    margin-bottom: 40px;
  }
  .el-popover{
	  padding-top:0;
	  padding-right:0;
	  padding-left:0;
	  overflow:hidden;
	  background-color:#f1f1f1;
	  .el-tabs__content{
		padding:0 4px;
		.el-row{
			height:28px;
			line-height:28px;
			margin-bottom:10px;
			background-color:#fff;
			border-radius: 4px;
			.flightNo{
				background-color:#393f43;
				color:#fff;
				padding:0 4px;
			}
		}
	  }
	  .el-tabs__item{
		color:#666;
		background-color:#fff;
	  }
	  .el-tabs__item.is-active{
		background-color:#009eff;
		color:#fff;
	  }
	  .el-tabs__item:first-child {
		border-top-left-radius:4px;
	  }
	  .el-tabs__item:last-child {
		border-top-right-radius:4px;
	  }
  }
.home {
  clear:both;
  position:relative;
  .dialogPersonSetting{
	.el-tabs__header, .el-tabs__nav{
		border-bottom:1px dashed #289DFF;
	}
	.el-tabs__nav{
		border-top:none;
	}
	.el-tab-pane{
		.row{
			margin-bottom:10px;
			.el-checkbox__inner{
				border-color:#409eff;
			}
			.title{
				font-size:14px;
				color:#000;
				font-weight:bold;
				margin-right:10px;
			}
		}
	}
	.el-tabs__item{
		font-size:14px;
		width:80px;
		height:30px;
		line-height:30px;
		background-color:#e6e6e6;
		text-align:center;
		color:#333;
		padding:0 !important;
		border-radius: 4px 4px 0 0 !important;
	}
	.is-active{
		background-color:#009eff;
		border-bottom:none;
		color:#fff;
	}
  }
  .bg-person{
	  background:$color-bg-person;
	  &.active{
		background-color:#1d60dd;
		color:#fff;
	  }
	}
	.active-person {
		background: #2e67f6;
		color: #fff !important;
	}
  .personList{
	  padding:0 10px;
	  overflow:hidden;
	  .person-panel{
		  padding:2px 6px !important;
		}
  }
  .person{
	  color:$color-person;
	  height:30px;
	  line-height:30px;
	  cursor:pointer;
	  padding:0 2px;
	  text-align:left;
	  position:relative;
	  border-radius:4px;
	  font-size:14px;
	  .taskNum{
		  position:absolute;
		  top:5px;
		  right:3px;
		  height:20px;
		  line-height:20px;
		  font-size:14px;
		  font-weight:bold;
		  width:auto;
		  padding:0 2px;
		  background-color:#35dfff;
		  color:#f1fdfe;
		  border-radius:4px;
	  }
  }
  .el-aside {
    background-color: #3f4253;
    color: #333;
    text-align: center;
    overflow:visible;
    position:relative;
	padding-bottom:40px;
	.panel{
		overflow-y:auto;
		height:100%;
		.placeHolder{
			position:relative;
			height:42px;
			width:100%;
		}
	}
	.el-input{
		width:95%;
	}
	.persons-panel{
		.area-panel{
			background-color: #2f3448;
			color:#1dd8fe;
			font-size:16px;
			font-weight:bold;
			text-align:left;
			padding:10px 0;
		}
	}
    .el-autocomplete {
      width: 100%;
      padding:6px 10px;
    }
    .toggleBtn {
      position:absolute;
      top:60px;
      right:-20px;
      width: 20px;
      height:40px;
      line-height:40px;
      background: #666;
      color:#fff;
      font-size:18px;
    }
  }
  .el-main {
    color: #333;
    text-align: center;
  }
  .el-container{
    background-color: #f1f1f1;
    .home-mian-header{
      height:60px;
      line-height:60px;
      .el-row{
        display: flex;
        flex-wrap: wrap;
				align-items: center;
				margin-top: 10px;
        .el-input{
          width:auto;
        }
        .el-radio-group, .el-input{
          margin-right:10px;
        }
			}
			.is-table {
				float: left;
			}
      .legend-panel{
        text-align: right;
        justify-content: flex-end;
				background-color: #f1f1f1;	
			}
			.icon-search {
				&:before {
					content: "\e663"
				}
			}
    }
    .el-main{
      display: flex;
      flex-direction:column;
			padding-top:0;
			.flight-table {
					thead>.cell {
						background-color: #666;
						height: 30px;
						line-height: 30px;
						color: #fff;
				}
				.is-leaf {
						background: #666;
						color: #fff;
						height: 28px;
						line-height: 28px;
						padding: 2px 0;
						text-align: center;
				} 
				tr {
						height: 28px;
						line-height: 28px;
						padding: 2px;
						text-align: center;
						border: 1px solid transparent;
				}
				.el-tag--vl-people {
						width:48px;
						// height:20px;
						color: #fff;
						background-color:#ff8500; 
				}
				.el-tag--vl-car {
						width:48px;
						// height:20px;
						color: #fff;
						background-color:#0096ff; 
				}
				.el-tag--vl-company {
						width:48px;
						// height:20px;
						color: #fff;
						background-color:#a346bc; 
				}
				.el-tag--vl-tool {
						width:48px;
						// height:20px;
						color: #fff;
						background-color:#677f95; 
				}
				.el-table--enable-row-hover .el-table__body tr>td {
						padding: 6px 0;
						border-top: 1px solid transparent;
						border-bottom: 1px solid transparent;
						text-align: center;
				}
				.el-table--enable-row-hover .el-table__body tr:hover>td {
						background-color: #e3f3fc !important;
						border-top: 1px solid #0096ff;
						border-bottom: 1px solid #0096ff;
				}
				.el-table .cell {
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
				}
			}
      .mainList{
        flex:1;
        background-color:white;
        padding:6px;
		.dialogTaskDetail{
			.taskInfo{
				margin-bottom:20px;
			}
			.taskPersonList{
			  .taskDetailList{
				  text-align:left;
				  span{
					font-weight:bold;
				  }
			  }
				.el-col{
					text-align:left;
					.taskPersonBtn{
						font-size:12px;
						margin-left:10px;
						margin-right:0;
						margin-bottom:10px;
						background: #DBE9FE;
						border: 1px solid #7FB1FF;
						border-radius: 3px;
						padding:6px 12px;
						color:#1F407B;
						i{
							color:#009eff;
						}
						&.active,&:hover{
							background-color:#0064FF;
							color:#fff;
						}
					}
				}
			}
		}
        > .el-row{
          display: flex;
          margin-bottom:20px;
          .region{
            margin-top:10px;
            .el-card{
              height:100%;
			  background-color:#eff5fd;
			  border:1px solid #bbbbbb;
			  .el-card__body{
				  display: flex;
				  flex-direction: column;
				  align-items: center;
				  height: 100%;
				  justify-content: center;
			  }
			  .areaName{
				font-size:18px;
				font-weight:bold;
				color:black;
			  }
			  .workerName{
				font-size:16px;
				font-weight:bold;
				color:#00a93c;
			  }
            }
          }
          .task{
            .el-col {
              margin-top:10px;
			  .el-card {
				  border:1px dashed #c7c7c7;
				  cursor:pointer;
				  .el-card__body{
					padding:0;
					position:relative;
					.flight-status{
						position:absolute;
						right:0;
						top:0;
						width:60px;
						height:20px;
						line-height:20px;
						background-color:#31b4f1;
						color:#fff;
						font-size:12px;
						text-align:center;
						transform: rotateZ(45deg);
						top: 5px;
						right: -15px;
					}
				  }
				  .el-aside{
					  background-color:white;
						padding-left:20px;
						padding-bottom:10px;
						text-align: left;
						font-size:14px;
						color:#9a9a9a;
						font-weight:bold;
					  .first-row{
						color:#4e66ef;
					  }
					  .second-row{
						  .flightNo{
							  color:white;
							  font-size:16px;
							  background-color:#6178f1;
						  }
						  .aircraftNumber{
							  color:#636363;
						  }
					  }
						  .et{
							color:#4b506e;
						  }
				  }
				  .el-main{
					  overflow: hidden;
					  padding: 0;
					  align-items: center;
					  background-color:#3fa7ff;
					  div{
						  width:10px;
						  height:100%;
						  word-break:break-word;
						  color:white;
						  display: flex;
						  align-items:center;
					  }
				  }
			  }
            }
          }
        }
      }
    }
  }
}
