.el-tree-node__content {
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
}

.tree,.el-tree {
    background:rgba(26,46,72,1);
    color: #fff;
    // .is-current {
        // background:linear-gradient(270deg,rgba(46,103,246,1) 0%,rgba(0,75,205,0.35) 100%);
    // }
    .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
        // background-color: mix($--color-white, $--color-primary, 92%);
        background:linear-gradient(270deg,rgba(46,103,246,1) 0%,rgba(0,75,205,0.35) 100%);
        // &:hover {
        //     background:linear-gradient(270deg,rgba(46,103,246,1) 0%,rgba(0,75,205,0.35) 100%);
        // }
        //   &:focus {
        //     background:linear-gradient(270deg,rgba(46,103,246,1) 0%,rgba(0,75,205,0.35) 100%);
        // }
        //   &:visited {
        //     background:linear-gradient(270deg,rgba(46,103,246,1) 0%,rgba(0,75,205,0.35) 100%);
        // }
    }
    .el-tree-node__content:hover {
        background:linear-gradient(270deg,rgba(46,103,246,1) 0%,rgba(0,75,205,0.35) 100%); 
    }
}
.el-breadcrumb {
    height: 50px;
    line-height: 50px;
    margin-bottom: 15px;
}
.tree-table {
    background: #F3F3F3;
    padding: 20px;
}