.outermostsection{
	flex:1;
	background-color:#E4E7EC;
	overflow-x:hidden;
	overflow-y:auto;
	.el-table td{
		padding:5px 0;
	}
	.el-table__row{
		height:30px;
	}
	tr{
		height:30px;
	}
	.pagination{
		width:100%;
		display:flex;
		height:66px;
		align-items:center;
		justify-content:center;
		span{
			color:#666666;
			font-weight:400;
		}
	}
	.paginationP2{
		background-color:#FFFFFF;
	}
	.urgentReport{
		flex:1;
		padding:0px 25px 10px;
		background-color:#E4E7EC;
		overflow:auto;
		.Row1{
			display:flex;
			flex-direction:row;
			align-items:center;
			position:relative;
			margin-top:10px;
		}
		.icon-feiji{
			color:#409EFF;
			transform:rotateZ(-90deg);
			font-size:14px;
			// font-family: 
		}
		.No{
			padding-left:5px;
			width:90px;
			height:20px;
			color:#000000;
			font-family:Fjalla One;
		}
		.Dname{
			position:absolute;
			right:0px;
			background-color:#50b7f7;
			color:#FFFFFF;
			font-family:Microsoft YaHei;
			text-align:center;
			white-space:nowrap;
			max-width:150px;
			height:20px;
			line-height:20px;
			font-size:12px;
			border-radius:3px;
			padding:0 6px;
		}
		.Row2{
			display:flex;
			flex-direction:row;
			align-items:center;
			color:#666666;
			position:relative;
			font-size:12px;
			margin-top:9px;
		}
		.icon-user{
			font-size:12px;
		}
		.Sname{
			height:14px;
			padding-left:6px;
			font-weight:bold;
			font-family:Microsoft YaHei;
		}
		.Dtime{
			position:absolute;
			right:0px;
			height:14px;
			font-family:Microsoft YaHei;
		}
		.Row3{
			display:flex;
			flex-direction:row;
			align-items:center;
			margin-top:15px;
		}
		.icon-neirongguanli{
			color:#808CAA;
			font-size:13px;
		}
		.Content{
			margin:0;
			text-overflow:ellipsis;
			white-space:nowrap;
			overflow:hidden;
			height:15px;
			line-height:15px;
			font-size:14px;
			//font-weight:bold;
			padding-left:5px;
			font-family:Microsoft YaHei;
			color:#000000;
		}
		.el-col{
			margin-top:2.5px;
			margin-bottom:2.5px;
		}
		.el-card{
			height:129px;
		}
		.el-card_body{
			padding-left:10px;
		}
		.Row4{
			height:15px;
			line-height:15px;
			font-size:14px;
			padding-left:18px;
		}
		.Yesphoto{
			color:#0064FF;
			font-family:Microsoft YaHei;
		}
		.Nophoto{
			color:#999999;
			font-family:Microsoft YaHei;
			// font-family: $font-family-Yahei;
		}
	}

	.el-table th{
		background-color:#3A3F43;
		color:white;
	}
	.outermostsection{
		width:100%;
	}
	.outermostheader{
		margin:8px 0px;
	}
	.input1{
		font-size:12px;
		height:34px;
		line-height:16px;
	}
	.img{
		width:100%;
		height:auto;
	}
	.deptBtn{
		font-family:Microsoft YaHei;
		font-size:12px;	
		height:20px;
		padding:0px;
		width:80px;
	}
	.datePicker{
		width:260px;
		height:34px;
		padding:0px 10px;
		border:0px;
		align-items:baseline;
	}
   .input{
		width:100%;
		height:100%;
		.el-input__inner{
			width:100%;
			height:100%;
		}
	}
	.inputRow{
		width:220px;
		height:34px;
		padding:0;
		position:absolute;
		right:25px;
	}
	.el-row{
		position:relative;
		height:34px;
		margin:0;
	}
	.dateRow{
		padding:0;
		position:absolute;
		right:225px;
		.el-input__inner{
			width:100%;
			height:100%;
			padding-right:0;
		}
	}
	.deptRow{
		position:relative;
		.deptBtn1{
			position:absolute;
			left:55px;
			top:7px;
			color:#FFFFFF;
		}
		.deptBtn2{
			position:absolute;
			left:145px;
			top:7px;
			color:#333333;
		}
	}
	.el-range-input,.el-range-separator,.el-range-input,.inputRow .el-input__inner{
		font-size:12px;
	}
	.allDeptsection{
		margin:8px 0px;
		.deptRow{
			.deptBtn1{
				left:25px;
				top:7px;
				color:#333333;
			}
			.deptBtn2{
				left:115px;
				top:7px;
				color:#FFFFFF;
			}
		}
		.inputRow{
			right:0px;
		}
		.dateRow{
			font-family:Microsoft YaHei;
			font-size:12px;
			color:#333333;
			right:200px;
			padding-right:0px;
			width:300px;
			.el-input__inner{
				width:260px;
			}
			.el-range-input{
				width:100%;
			}
		}
	}
		th .cell{
			font-family:Microsoft YaHei;
			font-size:14px;
		}
		.column1{
			font-family:Fjalla One;
			color:#333333;
		}
		.column2{
			font-family:Fjalla One;
			font-size:16px;
			color:#000000;
		}
		.columnRest{
			font-family:Microsoft YaHei;
			color:#000000;
		}
		.column7{
			font-family:Microsoft YaHei;
			color:#000000;
		}
}

