// @import "../components/pageNation";

.full-width {
    width: 100%;
}
.violation,.permission-table {
    width: 100%;
    padding: 5px;
    font-size:14px;
    height: 100vh;
    background: #E4E7EC;
    overflow: scroll;
    .violation-topbar {
        // background-color: #fff;
    }
    .tab-button {
        margin-bottom: 10px;
    }
    .el-col-5 {
        width: 19%;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .violation-card {
        height:82vh;
        overflow: scroll;
        .el-card {
            height: 220px;
            .el-card__body {
                padding: 8px;
            }
        }
        .violation-id {
            font-size: 18px;
            .tag{
                display: inline-block;
                color: #fff;
                font-size: 14px;
                background-color: green;
                border-radius: 4px;
                padding:2px 10px;
                float: right;
                margin-right: 10px;
            }
            .tag-user {
                background-color: #77ca35;
            }
            .tag-device {
                background-color: #00a301;
            }
            .tag-car {
                background: #31509d;
            }
            .tag-company {
                background: #588fe5;
            }
            .yellow {
                color:#FF8A04;
                font-size: 16px;
            }
            .car-blue {
                color: #289DFF;
                font-size: 16px;
            }
            .equip-gray {
                color:#6B8093;
                font-size: 16px;
            }
            .company-purple {
                color: #9759B7;
                font-size: 16px;
            }
        }
        .company {
            color: #777;
            font-size: 14px;
        }
        .time {
            color: #999;
            font-size: 14px;
        }
        .decribe {
            // border-bottom: 1px dashed #666;
            margin: 10px 0;
            margin-top: 0;
            padding:5px 0px;
            .decribe-word {
                margin-bottom: 5px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .decribe-img {
                display: flex;
                justify-content: space-between;

            }
            .picture {
                height: 3.375rem;
                width: 80px;
                border: 1px solid #ccc;
                background-color: #ccc;
                border-radius: 4px;
            }
            .el-dialog__header {
                display: none;
            }
        }
        .status {
            text-align: center;
            button {
                cursor: pointer;
            }
        }
        .status0 {
            text-align: center;
            .reback {
                float: right;
            }
        }

    }
    button:focus {
        outline: #fff auto 0 !important;
    }
    .tab-btn {
        height: 24px;
        line-height: 24px;
        padding: 0 20px;
        border-radius: 10px;
        // margin-top: 12px;
        margin-right: 10px;  
        span {
            font-size: 12px;
        }
    }
    .active-tab {
        background-color: #0096ff;
        color: #fff;
    }
    .tooltip {
        margin: 8px 0;
    }
    .topbar {
        text-align: right;
        margin-right: 10px;
        .el-input__inner {
            width: 22rem;
            height: 30px;
            line-height: 30px;
        }
        .el-date-editor .el-range-separator {
            line-height: 24px;
        }
        .el-form,.el-input {
            .el-form-item,.el-form-item__content {
                display: inline-block;
                .el-select {
                    width: 96px;
                }
            }
            .el-input__inner {
                width: 160px;
                height: 30px;
                line-height: 30px;
            }
            .el-date-editor {
                width: 240px;
            }
            display: inline-block;
            width: 160px;
        }
        .el-input__icon{
            height: 30px;
            line-height: 30px;
        } 
        .export-excel {
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
    .dialog {
        .el-dialog__header {
            // background-color: #eff5fd;
            // display: none;
            .el-dialog__title {
                color: #00a3db;
                font-size: 14px;
            }
        }
        .el-dialog__body {
            padding-top: 15px;
            .el-form-item {
                margin-bottom: 10px;
            }
            .el-input__inner {
                width: 160px;
            }
        }
        .company-list {
            border: 1px dashed #333;
            background-color: #eff5fd;
            padding: 10px;
            color: #333;
            .company-info {
                display: inline-block;
                background-color: #00b3e6;
                color: #fff;
                font-size: 12px;
                p {
                    margin: 2px;
                }
            }
            .name {
                display: inline-block;
                padding: 2px 4px;
                font-size: 12px;
            }
        }
    }

    thead>.cell {
        background-color: #666;
        height: 30px;
        line-height: 30px;
        color: #fff;
    }
    .is-leaf {
        background: #666;
        color: #fff;
        height: 28px;
        line-height: 28px;
        padding: 2px;
        text-align: center;
    } 
    tr {
        height: 28px;
        line-height: 28px;
        padding: 2px;
        text-align: center;
        border: 1px solid transparent;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td {
        background: #f0f2f4;
    }
    .el-tag--vl-people {
        width:48px;
        // height:20px;
        color: #fff;
        background-color:#ff8500; 
    }
    .el-tag--vl-car {
        width:48px;
        // height:20px;
        color: #fff;
        background-color:#0096ff; 
    }
    .el-tag--vl-company {
        width:48px;
        // height:20px;
        color: #fff;
        background-color:#a346bc; 
    }
    .el-tag--vl-tool {
        width:48px;
        // height:20px;
        color: #fff;
        background-color:#677f95; 
    }
    .el-table--enable-row-hover .el-table__body tr>td {
        padding: 6px 0;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        text-align: center;
    }
    .el-table--enable-row-hover .el-table__body tr:hover>td {
        background-color: #e3f3fc !important;
        border-top: 1px solid #0096ff;
        border-bottom: 1px solid #0096ff;
    }
    .el-table .cell {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center !important;
    }
    .el-table_1_column_1 {
        font-family: $font-family-One; 
    }
    .all-table{
        margin: 3px;
        margin-top: 10px;
        // height: 90vh;
        // overflow: scroll;
        .el-table {
            background: transparent !important;
        }
        thead>.cell {
            background-color: #666;
            height: 30px;
            line-height: 30px;
            color: #fff;
            text-align: center !important;
        }
        .is-leaf {
            background: #666;
            color: #fff;
            height: 28px;
            line-height: 28px;
            padding: 2px;
            text-align: center;
        } 
        tr {
            height: 28px;
            line-height: 28px;
            padding: 2px;
            text-align: center;
            border: 1px solid transparent;
        }
        .el-table--striped .el-table__body tr.el-table__row--striped td {
            background: #f0f2f4;
        }
        .el-tag--vl-people {
            width:48px;
            // height:20px;
            color: #fff;
            background-color:#ff8500; 
        }
        .el-tag--vl-car {
            width:48px;
            // height:20px;
            color: #fff;
            background-color:#0096ff; 
        }
        .el-tag--vl-company {
            width:48px;
            // height:20px;
            color: #fff;
            background-color:#a346bc; 
        }
        .el-tag--vl-tool {
            width:48px;
            // height:20px;
            color: #fff;
            background-color:#677f95; 
        }
        .el-table--enable-row-hover .el-table__body tr>td {
            padding: 6px 0;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            text-align: center;
        }
        .el-table--enable-row-hover .el-table__body tr:hover>td {
            background-color: #e3f3fc !important;
            border-top: 1px solid #0096ff;
            border-bottom: 1px solid #0096ff;
        }
        .el-table .cell {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .el-table_1_column_1 {
            font-family: $font-family-One; 
        }
    }
    .el-textarea__inner {
        width: 60%;
    }
    .violation-page-nations {
        display: block;
        text-align: center;
        background: transparent;
        width: 99%;
        margin-top: 10px;
        .el-pagination {
            display: inline-block;
        }
        // position: fixed;
        // bottom: 30px;
        .el-pager li {
            padding: 0 .25rem;
            background: #fff;
        }
        .demonstration {
            font-size: 13px;
            height: 30px;
            color: #666;
            line-height: 28px;
            position: relative;
            top: 4px;
            // font-size: 12px;
            color: #666;
        }
        .el-pagination:after, .el-pagination:before {
            display: inline;
            content: "";
        }
    } 
    .edit-dialog {
        .el-textarea__inner {
            border: 1px dashed #588fe5;
            background: #f1f9fe;
            margin-top: 10px;
            width: 94%;
            line-height: 2;
        }
    }
    .dislog-picture {
        .el-dialog__header {
            background-color: #2e67f6;
            padding: 2.2rem .9375rem .3125rem;
        }
        .load-picture, .picture-card {
            width: 100px;
            height: 100px;
        }
        .el-upload--picture-card {
            width: 100px !important;
            height: 100px !important;
        }
    }
}