.violation {
    width: 100%;
    padding: 5px;
    font-size:14px;
    height: 100vh;
    background: #E4E7EC;
    .tab-button {
        margin-bottom: 10px;
    }
    .el-col-5 {
        width: 19%;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .violation-card {
        .el-card {
            height: 239px;
        }
        .violation-id {
            font-size: 18px;
            .tag{
                display: inline-block;
                color: #fff;
                font-size: 14px;
                background-color: green;
                border-radius: 4px;
                padding:2px 10px;
                float: right;
                margin-right: 10px;
            }
            .tag-user {
                background-color: #77ca35;
            }
            .tag-device {
                background-color: #00a301;
            }
            .tag-car {
                background: #31509d;
            }
            .tag-company {
                background: #588fe5;
            }
        }
        .company {
            color: #777;
            font-size: 14px;
        }
        .time {
            color: #999;
            font-size: 14px;
        }
        .decribe {
            // border-bottom: 1px dashed #666;
            margin: 10px 0;
            margin-top: 0;
            padding:5px 0px;
            .decribe-word {
                margin-bottom: 5px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .decribe-img {
                display: flex;
                justify-content: space-between;

            }
            .picture {
                height: 70px;
                width: 80px;
                border: 1px solid #ccc;
                background-color: #ccc;
                border-radius: 4px;
            }
            .el-dialog__header {
                display: none;
            }
        }
        .status {
            text-align: center;
            button {
                cursor: pointer;
            }
        }
        .status0 {
            text-align: center;
            .reback {
                float: right;
            }
        }

    }
    button:focus {
        outline: #fff auto 0 !important;
    }
    .tab-btn {
        height: 24px;
        line-height: 24px;
        padding: 0 20px;
        border-radius: 10px;
        // margin-top: 12px;
        margin-right: 10px;  
    }
    .active-tab {
        background-color: #0096ff;
        color: #fff;
    }
    .topbar {
        text-align: right;
        margin-right: 10px;
        .el-input__inner {
            width: 22rem;
            height: 30px;
            line-height: 30px;
        }
        .el-date-editor .el-range-separator {
            line-height: 24px;
        }
        .el-form,.el-input {
            .el-form-item,.el-form-item__content {
                display: inline-block;
                .el-select {
                    width: 96px;
                }
            }
            .el-input__inner {
                width: 160px;
                height: 30px;
                line-height: 30px;
            }
            .el-date-editor {
                width: 240px;
            }
            display: inline-block;
            width: 160px;
        }
        .el-input__icon{
            height: 30px;
            line-height: 30px;
        } 
    }
    .dialog {
        .el-dialog__header {
            background-color: #eff5fd;
            .el-dialog__title {
                color: #00a3db;
                font-size: 14px;
            }
        }
        .el-dialog__body {
            padding-top: 15px;
            .el-form-item {
                margin-bottom: 10px;
            }
            .el-input__inner {
                width: 160px;
            }
        }
        .company-list {
            border: 1px dashed #333;
            background-color: #eff5fd;
            padding: 10px;
            color: #333;
            .company-info {
                display: inline-block;
                background-color: #00b3e6;
                color: #fff;
                font-size: 12px;
                p {
                    margin: 2px;
                }
            }
            .name {
                display: inline-block;
                padding: 2px 4px;
                font-size: 12px;
            }
        }
    }
    .all-table {
        margin: 3px;
        margin-top: 10px;
        thead>.cell {
            background-color: #666;
            height: 30px;
            line-height: 30px;
            color: #fff;
        }
        .is-leaf {
            background: #666;
            color: #fff;
            height: 28px;
            line-height: 28px;
            padding: 2px;
            text-align: center;
        } 
        tr {
            height: 28px;
            line-height: 28px;
            padding: 2px;
            text-align: center;
            border: 1px solid transparent;
            :hover {
                border: 1px solid #0096ff !important;
                background: #e3f3fc !important;
            }
        }
        &>table {
            tbody {
                .el-table__row {
                    height: 28px;
                    line-height: 28px;
                    padding: 2px;
                    text-align: center;
                    border: 1px solid transparent;
                    :hover {
                        border: 1px solid #0096ff !important;
                        background: #e3f3fc !important;
                    }
                } 
            }
        }
        .el-tag--vl-people {
            width:48px;
            // height:20px;
            color: #fff;
            background-color:#ff8500; 
        }
        .el-tag--vl-car {
            width:48px;
            // height:20px;
            color: #fff;
            background-color:#0096ff; 
        }
        .el-tag--vl-company {
            width:48px;
            // height:20px;
            color: #fff;
            background-color:#a346bc; 
        }
        .el-tag--vl-tool {
            width:48px;
            // height:20px;
            color: #fff;
            background-color:#677f95; 
        }
        // td {
        //     padding: 6px 0 !important;
        //     text-align: center;
        //     :hover {
        //         border-top: 1px solid #0096ff !important;
        //         border-bottom: 1px solid #0096ff !important;
        //         background: #e3f3fc !important;
        //     }
        //     // border: 1px solid transparent;
        // }
        // tr {
        //     border: 1px solid transparent !important;
        // }
        // .el-table__body tr>td:hover{
        //     // background-color: $--table-row-hover-background;
        //     background: #e3f3fc;
        //     border: 1px solid #184bff !important;
        //   }
    }
    .page-nation {
        display: none;
        text-align: center;
        .el-pagination {
            display: inline-block;
        }
        position: fixed;
        bottom: 30px;
        margin-left: 27%;
    } 
}