@import "../../node_modules/element-ui/lib/theme-chalk/index.css";
@import "variables";
@import "common.scss";
@import "../../public/iconfont/iconfont.css";
@import "font";

@import "pages/nav";
@import "pages/home";
@import "pages/sheet";
@import "pages/violation";
@import "pages/statistics";

@import "pages/rollCall";
@import "pages/urgentReport";
@import "pages/messageCenter";
@import "pages/login";

@import "pages/notice";


.icon-shiji2 {
    color: #184bff;
}
.icon-yuji2 {
    color:#ff5800;
}
.icon-hangxian {
    color:#294fa3;
}
.icon-pianlishangbao1{
    color:#1d3a7f;
}

.icon-yanwubiaoji {
    color: red;
}
